<a href="https://colab.research.google.com/github/thalesCruz64/BootCamps_Courses/blob/master/C6_Exercises%2C_part1_students'_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Tutorial


Welcome to this Python tutorial. The Jupyter Notebook interface is composed of several cells, in which you can write some code. When you run a cell, the only lines executed are those in the cell. However, they are linked by a single kernel : it means that you can define a variable in a cell and use it in an other.

### Variables

To run a cell, select it and press "execute", or shift + enter. Try to run the following cell :

In [0]:
print("Congratulations")

Congratulations

If your code includes some functions which should display some informations, this information will appear under the box, like with "Congratulations" in the previous example.

Display the number 13 and the message "Python is great"

In [0]:
a=5
b=5.2
c=3+2j

Create the variables a = 5, b = 5.2 and c = 3 + 2j

In [10]:
print(' The value of a is ' , a,'\n','The value of b is ' , b,'\n','The value of c is ' , c)

 The value of a is  5
 The value of b is  5.2
 The value of c is  (3+2j)

Display a, b and c with the print function.  
They can be displayed with only one call by separating them with commas in the brackets.

Display a + b and b * c without saving the product in a variable.

In [15]:
a+b
b*c

(15.600000000000001+10.4j)

In [0]:
d=7


Assign the value 7 to d without deleting any letter of the following line

In [20]:
d = 34

print('type de a+b :',type(a),'\n','type de a+b :',type(a+b),'\n','type de a*b :',type(a*b),'\n','type de b-c :',type(b-c),'\n','type de a+b+c :',type(a+b+c),'\n','type de a*c :',type(a*c),'\n','type de c/a:',type(c/a),'\n',)

type de a+b : <class 'int'>
 type de a+b : <class 'float'>
 type de a*b : <class 'float'>
 type de b-c : <class 'complex'>
 type de a+b+c : <class 'complex'>
 type de a*c : <class 'complex'>
 type de c/a: <class 'complex'>

Check the type of a, b, c, then display and show the type of :  
a + b  
a * b  
b - c  
a + b + c  
a * c  
c / a

In [23]:
e=round(b)

print('type of b :',type(b),'\n','type of e :',type(e))

type of b : <class 'float'>
 type of e : <class 'int'>

#### Functions
Save round(b) in a variable e, then display the type of :  
b  
e  
round

In [0]:
def mongo(x):
  return(x + x**2)

Create a function which takes as argument a value x, and returns x + x**2

In [0]:
def monogo2(x):
  print('x=',x,'\n','2*x =',2*x,'\n','3*x=',3*x)
  return(x-1)

Create a function which takes as argument a value x, prints x, 2 * x and 3 * x, and returns x - 1.

In [0]:

def monogo3(x,y):
  return(round(x)*y)

Write down a function that takes x and y as the arguments, and returns a rounded value of x multiplied by the value of y

#### Strings
Create a string called birthday containing your birthday.

In [0]:
birthday="09-10-2019"

Using a and b, create a string "Hello my dear" and print it.

In [0]:
a = "Hello"
b = "my dear"

Print the number of letters of a and b using the function len(string)

In [35]:
print(" the number of lettres of a is ", len(a),'\n', 'The number of lettres of b is ', len(b))

 the number of lettres of a is  5
 The number of lettres of b is  7

A string can be included in the middle of another one using %s
Ex : 
animal = "horse"
action = "love"
dream = "i would %s to eat a %s" %(action,animal)
--> dream = "i would love to eat a horse"



Create the string "I am 30 years old and I live in Bogota" using the following strings :

In [41]:
age = "30 years old"
city = "Bogota"
mongoString='I am '+age+'and i live in'+city
print ( mongoString)

I am 30 years oldand i live inBogota

#### Lists

To create a list, you need to use"[ ]". If you're using a mac, the command is alt + shift + "(" or ")" .

Create a list containing every letters from A to H, called letters.

In [0]:
letters=['A','B','C','D','E','F','G','H']

Print the letter E using its index in the list letters.

Remember : index of the first element is 0.

In [48]:
print('the letter ',letters[4])

the letter  E

Replace the letter G by Y in letters.

In [0]:
letters[letters.index('G')]='Y'

In [53]:

letters[6]

'Y'

Print the letter D in two different ways : once with its index, one with its index starting from the last element (negative index).

In [55]:
print(' Letter with index ', letters[letters.index('D')],'\n','Letter with index starting from the last element', letters[-5])

 Letter with index  D
 Letter with index starting from the last element D

Add the letter P to the list letters, using the function letters.append()

In [0]:
letters.append('P')

Create a sublist sublet = ["A","B","C"] from the list letters.

Remember : list[i:j] creates a sublist from list starting from the i th element to the j-1 th element.

In [59]:
sublet=letters[0:3]
print(sublet)

['A', 'B', 'C']

Concatenate letters and sublet into letters.

In [61]:
letters=letters+sublet
print (letters)

['A', 'B', 'C', 'D', 'E', 'F', 'Y', 'H', 'P', 'A', 'B', 'C', 'A', 'B', 'C']

Erase every occurence of C in letters.

Remember : use list.remove(string) to delete every occurence of string in list.

In [64]:
letters.remove('C')
print(letters)

['A', 'B', 'D', 'E', 'F', 'Y', 'H', 'P', 'A', 'B', 'A', 'B']

Erase the second occurence of A in letters.
Remember : use list.pop(index) to delete the index th element.

In [0]:
letters.pop([index for index, value in enumerate(letters) if value=='A'][1])

In [68]:
print(letters)

['A', 'B', 'D', 'E', 'F', 'Y', 'H', 'P', 'B', 'A', 'B']

#### Dictionary 

Dictionaries are similiar to lists, but instead of accessing an element through its index, we can use some keywords, which can be of any type.
When you create it, you indicate the keyword and then the associated variables.
Try to print every variable of the following dict :

In [0]:
dict = {'x' : 3, 'y' : True, 'z' : [False, 89], 5 : "banana",  True : False }

A list of the keywords of dict can be accessed using the function dict.keys()

In [82]:
dict.keys()

dict_keys(['x', 'y', 'z', 5, True])

Add a new value False to dict, indexed by the keyword Banana.


To add a new keyword, give the associated value as if the keyword already existed.  
Example :  

dict = {} 
dict[3] = "hi"  
--> dict = {3 : "hi"}

In [89]:
dict['banana'] =False
dict.keys()

dict_keys(['x', 'y', 'z', 5, True, 'banana'])

Delete the key 'y' from dict.

You can use dict.pop(key) to do that.

In [97]:

dict.pop('y')

It's doesn't exist value must be able to in the dico
 Look all keys word

dict_keys(['x', 'z', 5, True, 'banana'])

Try to delete the key 'g', which is not in dict.

In [98]:
try:
  dict.pop('y')
except:
  print("It's doesn't exist value must be able to in the dico ",'\n','Look all keys word\n')

dict.keys()

It's doesn't exist value must be able to in the dico
 Look all keys word

dict_keys(['x', 'z', 5, True, 'banana'])

As you can see, instead of just ignoring the command, an error is returned. If you do not want the program to be stopped if the value is not existing, you can add another action to be performed if the key does not exist. It must be written as second parameter.

Addding None as second parameter prevents the program from being stopped by an unexisting key.

Check this with the previous example.

#### Tuples

Tuples are very similar to lists, except their shape cannot be changed.
Use ( ) to create them
Create a tuple containing the integers from 5 to 9 and a tuple containing the integers from 1 to 4.

Try to sum up these tuples

In [0]:
a = (1,2,3,4)
b = (5,6,7,8)
a+b

(1, 2, 3, 4, 5, 6, 7, 8)

Print the 5th element of the sum., with two different ways.

#### Booleans

Create two booleans a = True and b = False, and check the result of every combination of a and b with the logical operators and / or.

To invert a boolean, use the function not. Ex : check the result of "not a or b"

Check how to use the different logical operators :  
equals ==  
less than <  
more than >    
less or equal <=
more or equal >=

Create a the boolean which indicates if 3 in in the list "list" or not.

Use the function in :  "a in list" = True is a is in list and False otherwise.

In [0]:
list = [4,3.2,9,44,2,"hey",False,True]

#### Functions
Once created, a function is used only if it is called.

Here, the function square returns the squared value of the input.
Try to print the squared value of 5 using the square function above.

In [0]:
def square(n):
    result = n**2
    return(result)

The "return" function is very important when you define a function, for two reasons. First, it allows to tell what will be the output of the function. Second, this function means that we are at the end of the function, so the next lines do not need to be read.

Create a function square2(n) identical to square(n) without the return(result) line and see what happens if you try to compute square2(5).

In [0]:
def square(n):
    result = n**2

print(square(5))

None

Create a function square3(n) identical to square(n) with one more line "print("hi")" after return(result) and see what happens if you try to compute square3(5).

Create a function firstandlast(l) which returns a tuple containing the first and the last elements of l, a list input.
Try it on the list test.

In [0]:
test = ["Good",4,27,[3,28],"animal","X",True, "job !"]

Once a function is created, it can be called even in the definition of an other function.  
Create a function sumoffandl which takes as input a list, and returns the sum of its first and last terms. We will use the firstandlast(n) function.

#### Loops

##### For

Run the following code and watch the syntaxe of the For loop function

In [0]:
list = [2,5,4,2,8,20]
for x in list:
    print(x)

2
5
4
2
8
20

Now try your own loop : compute the sum of the terms of the list "list" with a for loop.

When we want to iterate on some integers, we use the range function : "for k in range(i,j)" means that k will take the value of every integer between i and j-1
Compute the product of integers from 37 to 54 using a for loop and the range function.

Create a function which takes a list as input and returns the same list but elements are inverted (the first element becomes the last, etc)

##### if

Test the function test with -5, 1, -1.7, 8, and interpret.

In [0]:
def test(x):
    if x**2 > 4 :
        print("yes")
    else :
        print("no")

Create a function which takes a list as input and returns a boolean, set to True if the first element is a string, an False otherwise.

Create a function which takes a list as input and returns a boolean, set to True if there is a string in the list, and False otherwise.

Hint : combine for and if.

##### While

Run the following cell and interpret.

In [0]:
x = 16
while x >3 :
    print(x)
    x = x / 2

16
8.0
4.0

Create a function which takes a list, and returns false if there is no string inside, and the index of the first string otherwise, using a while loop.

Print the first integer whose squared value is more than 7533493

## Libraries

#### Import

Import the library numpy, with the shortened name np.

Remember : import XXXXXX as YY to import the module XXXXXX with the shortened name YY.

Once a library is imported, all its functions are stored in the kernel and can be accessed.
Print the value of pi using the function pi in numpy.

Remember : To use a function of a library imported as YY, use YY.function()

## Numpy

Create an array containing the integers from 0 to 9

Create a 10x10 matrix name M, where the element of line i column j is 10 x i + j

Compute the eigenvalues and eigenvectors of M, using the function linalg.eig from numpy.

Compute the sum of the lists X and Y without using the function for.

In [0]:
X = [1232839,328329,122198,239239,128921,-139183, 318, 2983, -93810938]
Y = [2, 45, -120132, -3293203, 45, 45, 90/12, 30**3, 3209302]

Compute the scalar product of X and Y.

Hint : the numpy function is dot.

#### Pandas

In Pandas, we work with dataframes. Let's create one to see how it works.

Import the pandas module, with pd as shortened name, and the random module.

Create 5 lists composed of 4 random numbers between 1 and 100 and a string as final element.
Use random.randint(i,n) from numpy to get a list of n random numbers between 0 and i-1.

Create a dataframe named data, composed of these 5 lists. We will call the columns F1, F2, F3, F4 and STR.

Reminder : use the function pandas.DataFrame(list, columns = [...]) with columns = the names of the columns in a list.

Print the STR feature of each element.

Create a new dataframe composed of the rows 1, 3 and 5 of data.
Compute its F3 mean.

Reminder : DATA.loc[ [2,3,4] , ["Feature1","Feature2"] ] will create a sub dataframe from DATA, with its rows 2, 3 and 4, and the columns Feature1 an Feature2.

Let's go back to the dataframe "data". Create a new dataframe composed of the daqta rows where F1 > 40.

Hint : DATA[DATA["Feature1"] == 7] will create a new dataframe from DATA with the lines of DATA where the feature 1 equals 7.